body{
    background-image: url("../images/burger.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0.9;
}
img{
    width:20%;
    size:20%;
}

.row{
   color: yellow;
}
#eat,#eaten{
    color: yellow;
    font-weight: bold;
}
.devour-it,.addBurger{
    background-image: linear-gradient(to right,red,orange,black); 
    color: white;
}