body {
    background-color: yellow !important;
}
.row{
   color: #000;
}
#eat,#eaten{
    color: yellow;
    font-weight: bold;
}
.devour-it,.addBurger{
    background-color: red;
    color: white;
}